<h2> Product List:</h2>
<div *ngFor="let product of products; index as productId">
  <div style="border:2px solid black;margin-bottom:10px; padding:5px;">
      <a [routerLink]="['/products',productId]">
        {{product.name}}(${{product.price}})
      </a>
      {{product.description}}
     <div>
       <button (click)="share()">Share</button>
     </div>  
     <div style="margin-top:5px;">
       <app-product-alerts 
        [product]="product"
        (notify)="onNotify()"
       ></app-product-alerts>
     </div>     
  </div>        
</div>